body{
background-color:pink;
}
.t1{
margin-top:50px;
margin-left:50px;
}
.t2{
width:100px;
height:70px;
margin:10px;
border-radius:360px;

}
.t3{
margin-top:50px;
}
.d1
{
margin-left:100px;
}
.d2{
background-color:green;
color:white;
font-size:30px;
width:150px;

}